button {
  border: 0;
  padding: 1em;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1em;
}
.primary {
  background-color: #0d6efd;
  color: #fff;
}

.secondary {
  background-color: #6c757d;
  color: #fff;
}

.warning {
  background-color: #ffc107;
  color: #000;
}

.danger {
  background-color: #dc3545;
  color: #fff;
}

.success {
  background-color: #198754;
  color: #fff;
}
